/**
 * Theme base.
 */
/**
 * Typographic sizes.
 */
/**
 * Size and line height calculation for magic number 24
 *
 * 3em     * 16px   = 48 => line-height: 48    = 1
 * 2.875em * 16px   = 46 => line-height: 48/44 = 1.0435
 * 2.75em  * 16px   = 44 => line-height: 48/44 = 1.0909
 * 2.625em * 16px   = 42 => line-height: 48/42 = 1.1429
 * 2.5em   * 16px   = 40 => line-height: 48/40 = 1.2
 * 2.375em * 16px   = 38 => line-height: 48/38 = 1.2632
 * 2.25em  * 16px   = 36 => line-height: 48/36 = 1.3333
 * 2.125em * 16px   = 34 => line-height: 48/34 = 1.4118
 * 2em     * 16px   = 32 => line-height: 48/32 = 1.5
 * 1.875em * 16px   = 30 => line-height: 48/30 = 1.6
 * 1.75em  * 16px   = 28 => line-height: 48/28 = 1.7143
 * 1.625em * 16px   = 26 => line-height: 48/26 = 1.8462
 * 1.5em   * 16px   = 24 => line-height: 24    = 1
 * 1.375em * 16px   = 22 => line-height: 24/22 = 1.0909
 * 1.25em  * 16px   = 20 => line-height: 24/20 = 1.2
 * 1.125em * 16px   = 18 => line-height: 24/18 = 1.3333
 * 1em     * 16px   = 16 => line-height: 24/16 = 1.5
 * 0.875em * 16px   = 14 => line-height: 24/14 = 1.7143
 * 0.75em  * 16px   = 12 => line-height: 24/12 = 2
 */
/**
 * Size and line height calculation for magic number 22
 *
 * 3em     * 16px   = 48 => line-height: 66/48 = 1.375
 * 2.875em * 16px   = 46 => line-height: 66/46 = 1.4348
 * 2.75em  * 16px   = 44 => line-height: 44    = 1
 * 2.625em * 16px   = 42 => line-height: 44/42 = 1.0476
 * 2.5em   * 16px   = 40 => line-height: 44/40 = 1.1
 * 2.375em * 16px   = 38 => line-height: 44/38 = 1.1579
 * 2.25em  * 16px   = 36 => line-height: 44/36 = 1.2222
 * 2.125em * 16px   = 34 => line-height: 44/34 = 1.2941
 * 2em     * 16px   = 32 => line-height: 44/32 = 1.375
 * 1.875em * 16px   = 30 => line-height: 44/30 = 1.4667
 * 1.75em  * 16px   = 28 => line-height: 44/28 = 1.5714
 * 1.625em * 16px   = 26 => line-height: 44/26 = 1.6923
 * 1.5em   * 16px   = 24 => line-height: 44/24 = 1.8333
 * 1.375em * 16px   = 22 => line-height: 22    = 1
 * 1.25em  * 16px   = 20 => line-height: 22/20 = 1.1
 * 1.125em * 16px   = 18 => line-height: 22/18 = 1.2222
 * 1em     * 16px   = 16 => line-height: 22/16 = 1.375
 * 0.875em * 16px   = 14 => line-height: 22/14 = 1.5714
 * 0.75em  * 16px   = 12 => line-height: 22/12 = 1.8333
*/
/**
 * Typographic mixins.
 */
/**
 * Typographic font families.
 */
/**
 * Default font families
 */
/**
 * Figure styles.
 */
.figure {
  max-width: 100%;
  margin: 0 0 22px;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  box-sizing: border-box;
}
.figure.left {
  float: left;
  margin-right: 1em;
}
@media only screen and (max-width: 639px) {
  .figure.left {
    margin-right: 0.66666667em;
  }
}
.figure.right {
  float: right;
  margin-left: 1em;
}
@media only screen and (max-width: 639px) {
  .figure.right {
    margin-left: 0.66666667em;
  }
}
.figure.center {
  clear: both;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.figure.spacing {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (max-width: 639px) {
  .figure.spacing {
    margin-left: 0.33333333em;
    margin-right: 0.33333333em;
  }
}
.figure.caption-center figcaption {
  text-align: center;
}
.figure.caption-right figcaption {
  text-align: right;
}
.figure.top {
  vertical-align: top;
}
.figure.middle {
  vertical-align: middle;
}
.figure.full-width {
  clear: both;
  display: block;
}
.figure.full-width.center {
  position: static;
  -ms-transform: none;
  transform: none;
}
.figure.full-width.center img {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.figure.full-width.center figcaption {
  text-align: center;
}
.figure.full-width figcaption {
  width: auto;
  min-width: 0;
  max-width: none;
}
.figure.half {
  max-width: 49%;
}
.figure.third {
  max-width: 33%;
}
.figure.quarter {
  max-width: 24.667%;
}
.figure.border {
  margin-bottom: 20px;
}
.figure.border.tight {
  margin-bottom: 9px;
}
.figure.border figcaption {
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: #000;
  background-color: transparent;
}
.figure.image-border {
  margin-bottom: 20px;
}
.figure.image-border.tight {
  margin-bottom: 9px;
}
.figure.image-border img {
  border: 1px solid #000;
}
.figure.tight {
  margin-bottom: 11px;
}
.figure.tighter {
  margin-bottom: 0;
}
.figure img {
  max-width: 100.01%;
  display: block;
  box-sizing: border-box;
}
.figure figcaption {
  width: 1px;
  min-width: 100%;
  max-width: 100%;
  padding: 5.5px 0;
  color: #000;
  background-color: transparent;
  font-size: 0.875em;
  line-height: 1.57142857;
  text-align: left;
  box-sizing: border-box;
}
@media only screen and (max-width: 639px) {
  .figure figcaption {
    line-height: 1.67619048;
  }
}
.figure figcaption p {
  margin: 0;
}
@media only screen and (max-width: 639px) {
  .figure.quarter {
    max-width: 33%;
  }
  .figure.third {
    max-width: 49%;
  }
}
@media only screen and (max-width: 479px) {
  .figure.half,
  .figure.third {
    float: none;
    clear: both;
    max-width: none;
    margin: 0 0 22px;
  }
  .figure.half.border,
  .figure.third.border,
  .figure.half.image-border,
  .figure.third.image-border {
    margin-bottom: 20px;
  }
  .figure.quarter {
    max-width: 49%;
  }
}
/**
 * Blog styles.
 */
article.blog {
  margin-bottom: 44px;
}
.meta-header {
  font-size: 0.875em;
  line-height: 1.57142857;
}
@media only screen and (max-width: 639px) {
  .meta-header {
    line-height: 1.67619048;
  }
}
.blog-list .meta-header {
  font-weight: bold;
}
.blog-post .meta-header {
  font-style: italic;
}
.blog-post .meta-header .author {
  font-weight: bold;
}
.route-grid .wrap-all:hover .inner-wrap-main,
.grid-vert .wrap-all .inner-wrap-main,
.route-grid .wrap-all:hover .inner-wrap-columns-below,
.grid-vert .wrap-all .inner-wrap-columns-below {
  background-image: url('../img/grid/grid940x12x60x20-nomargin.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
}
@media (min-width: 1100px) {
  .route-grid .wrap-all:hover .inner-wrap-main,
  .grid-vert .wrap-all .inner-wrap-main,
  .route-grid .wrap-all:hover .inner-wrap-columns-below,
  .grid-vert .wrap-all .inner-wrap-columns-below {
    background-size: 1100px auto;
  }
}
.grid-vert-top .wrap-all {
  position: relative;
}
.grid-vert-top .wrap-all::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: .5;
  background-image: url('../img/grid/grid940x12x60x20-nomargin.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
}
@media (min-width: 1100px) {
  .grid-vert-top .wrap-all::after {
    background-size: 1100px auto;
  }
}
.route-typography .inner-wrap-main:hover,
.grid-horiz .inner-wrap-main {
  background-image: url('../img/grid/horizontal-grid-22.png');
}
.grid-horiz-top .wrap-all {
  position: relative;
}
.grid-horiz-top .wrap-all::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: .8;
  background-image: url('../img/grid/horizontal-grid-22.png');
}
/** --------------------------------------------------------------
 *  Base
 */
html {
  font-size: 16px;
}
body {
  color: #000;
  background-color: #fff;
  font: 1em/1.375 Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}
@media only screen and (max-width: 639px) {
  body {
    line-height: 1.46666667;
  }
}
.wrap-all {
  overflow: hidden;
}
article,
section {
  counter-reset: section;
}
/** --------------------------------------------------------------
 *  Global element styles
 */
a {
  color: #00f;
  text-decoration: underline;
}
a:hover {
  color: #00f;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
blockquote {
  position: relative;
  padding-left: 2.5em;
  font-style: italic;
}
blockquote::before {
  content: "\201d";
  position: absolute;
  left: .4em;
  top: -0.2em;
  font-size: 2.5em;
  opacity: .25;
}
hr {
  border-top-color: #000;
}
button,
input,
optgroup,
select,
textarea {
  color: #000;
  font-family: inherit;
}
legend {
  padding: 0 .25em;
}
/** --------------------------------------------------------------
 *  Header
 */
.site-header {
  position: relative;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.site-header a,
.site-header a:hover {
  color: #000;
  text-decoration: none;
}
.site-logo-text {
  float: left;
  position: relative;
  left: 16px;
  top: -1px;
  font-size: 2em;
  font-weight: bold;
  line-height: 44px;
}
.navbar2 {
  float: right;
}
.navbar2 a:hover {
  text-decoration: none;
}
.rm-desktop li {
  float: left;
  font-weight: normal;
  display: block;
}
.rm-desktop li a {
  padding: 11px 1em;
  color: #000;
  background-color: #fff;
}
.rm-desktop li a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.rm-desktop li.selected a,
.rm-desktop li.selected-parent a,
.rm-desktop li.selected a:hover,
.rm-desktop li.selected-parent a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}
.rm-max .rm-small .rm-button,
.rm-mobile {
  display: none;
}
/** --------------------------------------------------------------
 *  Flash
 */
.flash-wrap img {
  display: block;
}
/** --------------------------------------------------------------
 *  Breadcrumb
 */
.breadcrumb-wrap {
  padding: 0 1em;
  color: #000;
  background-color: #fff;
}
.breadcrumb-list ul {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  line-height: 1.83333333;
  list-style-type: none;
}
@media only screen and (max-width: 639px) {
  .breadcrumb-list ul {
    line-height: 1.95555556;
  }
}
.breadcrumb-list ul::before {
  content: "» ";
}
.breadcrumb-list ul li {
  display: inline-block;
}
.breadcrumb-list ul li::after {
  content: " ›";
}
.breadcrumb-list ul li:last-child::after {
  display: none;
}
.breadcrumb-list ul li a {
  color: #00f;
  text-decoration: none;
}
.breadcrumb-list ul li a:hover {
  color: #00f;
  text-decoration: underline;
}
/** --------------------------------------------------------------
 *  Sidebar
 */
.sidebar {
  margin-top: 22px;
  margin-bottom: 22px;
  padding-left: 2em;
  padding-right: 2em;
}
@media only screen and (max-width: 639px) {
  .sidebar {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.sidebar a:visited {
  color: #808;
}
.sidebar a:visited:hover {
  color: #808;
}
.sidebar-left {
  padding-right: 0;
}
.sidebar-right {
  padding-left: 0;
}
div.toc ul {
  position: relative;
  padding: 0 0 0 1em;
  list-style-type: none;
}
div.toc li::before {
  content: "›";
  position: absolute;
  left: 0;
  opacity: .5;
}
div.toc li.selected {
  font-weight: bold;
}
div.toc li.selected::before {
  content: "»";
  opacity: .8;
}
/** --------------------------------------------------------------
 *  Main
 */
.outer-wrap-main {
  background-color: #fff;
}
.main {
  min-height: 440px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-left: 2em;
  padding-right: 2em;
}
@media only screen and (max-width: 639px) {
  .main {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.main a:visited {
  color: #808;
}
.main a:visited:hover {
  color: #808;
}
.article > *:last-child {
  margin-bottom: 0;
}
.next-previous {
  margin-top: 44px;
}
/** --------------------------------------------------------------
 *  After-Main
 */
.after-main {
  padding: 0 1em;
  color: #000;
  background-color: #fff;
}
.after-main a {
  color: #00f;
}
.after-main a:hover {
  color: #00f;
}
.byline {
  padding: 11px 0;
  overflow: auto;
}
.byline > p {
  margin: 0;
}
.byline > p:first-child {
  float: left;
  margin-top: 0;
}
.byline > p:last-child {
  margin-left: 76px;
  font-size: 0.875em;
  line-height: 1.57142857;
}
@media only screen and (max-width: 639px) {
  .byline > p:last-child {
    line-height: 1.67619048;
  }
}
/** --------------------------------------------------------------
 *  Columns-Below
 */
.inner-wrap-columns-below {
  background-color: #fff;
  overflow: hidden;
}
.columns-below a {
  color: #00f;
}
.columns-below a:hover {
  color: #00f;
}
.columns-below a:visited {
  color: #808;
}
.columns-below a:visited:hover {
  color: #808;
}
.bottom-column {
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 0 1em;
}
/** --------------------------------------------------------------
 *  Footer
 */
.footer {
  padding: 11px 1em;
  color: #000;
  background-color: #fff;
  text-align: center;
  overflow: auto;
}
.footer p {
  margin-bottom: 11px;
}
.footer a {
  color: #00f;
}
.footer a:hover {
  color: #00f;
}
/** --------------------------------------------------------------
 *  Global styles
 */
.text-center {
  text-align: center;
}
.border {
  border: 1px solid #000;
}
.notice {
  padding: 10px 1em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.notice a {
  color: #00f;
}
.notice a:hover {
  color: #00f;
}
.notice a:visited {
  color: #808;
}
.notice a:visited:hover {
  color: #808;
}
.table {
  overflow-x: auto;
}
.table th,
.table td {
  padding: 11px 1.5em 10px 0;
  border-bottom: 1px solid;
}
.table th:last-child,
.table td:last-child {
  padding-right: .5em;
}
.palette {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: palette;
  overflow: auto;
}
.palette li {
  float: left;
  width: 1.75em;
  margin: 2px 4px 2px 0;
  border: 1px solid #000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  display: block;
  cursor: cell;
  counter-increment: palette;
}
.palette li.inv {
  color: #fff;
}
.palette li::before {
  content: counter(palette);
}
.section-heading {
  counter-increment: section;
  counter-reset: subsection;
}
.section-heading::before {
  content: counter(section);
  margin-right: .5em;
}
.subsection-heading {
  counter-increment: subsection;
}
.subsection-heading::before {
  content: counter(section) "." counter(subsection);
  margin-right: .5em;
}
/** --------------------------------------------------------------
 *  Responsive
 */
@media only screen and (max-width: 919px) {
  .navbar2 {
    display: none;
  }
  .rm-max.rm-navbar,
  .rm-max .rm-small .rm-button.rm-clicked {
    top: 6px;
    right: 16px;
    color: #000;
  }
  .rm-max .rm-small .rm-button.rm-clicked {
    color: #000;
  }
  .rm-max .rm-small .rm-button {
    font-size: 2em;
    display: inline-block;
  }
  .rm-max .rm-mobile {
    padding-top: 66px;
    background-color: #fff;
    border-left: 2px solid #000;
    display: block;
    box-shadow: none;
  }
  .rm-max .rm-mobile.rm-clicked {
    box-shadow: 0 0 3px 1px #000;
  }
  .rm-max .rm-mobile li {
    background-color: #fff;
  }
  .rm-max .rm-mobile li a {
    padding: 11px 1em;
    color: #000;
  }
  .rm-max .rm-mobile li a:hover {
    text-decoration: none;
  }
  .rm-max .rm-mobile li.selected,
  .rm-max .rm-mobile li.selected-parent {
    background-color: #000;
  }
  .rm-max .rm-mobile li.selected a,
  .rm-max .rm-mobile li.selected-parent a {
    color: #fff;
  }
}
@media only screen and (max-width: 815px) {
  .sidebar-left {
    margin-bottom: 0;
    padding-right: 2em;
  }
  div.toc::after {
    content: "";
    height: 0;
    display: block;
  }
  div.toc ul {
    padding-left: 0;
  }
  div.toc li {
    margin-bottom: 22px;
    display: inline-block;
  }
  div.toc li::after {
    content: "|";
    margin-left: .5em;
    margin-right: .5em;
    font-weight: normal;
  }
  div.toc li:last-child::after,
  div.toc li::before {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  html {
    font-size: 15px;
  }
  .site-logo-text {
    left: 15px;
    font-size: 1.875em;
  }
  .rm-max.rm-navbar,
  .rm-max .rm-small .rm-button.rm-clicked {
    top: 7px;
    right: 15px;
  }
  .sidebar-left {
    padding-left: 1em;
    padding-right: 1em;
  }
  .main {
    min-height: 330px;
  }
  .byline > p:last-child {
    margin-left: 75px;
    font-size: 1em;
    line-height: 1.375;
  }
  .columns-below {
    padding-top: 11px;
  }
  .bottom-column {
    margin-top: 0;
  }
}
@media only screen and (max-width: 639px) and only screen and (max-width: 639px) {
  .byline > p:last-child {
    line-height: 1.46666667;
  }
}
