@grid-vert-bg: '../img/grid/grid940x12x60x20-nomargin.png';
@grid-horiz-bg: '../img/grid/horizontal-grid-22.png';

.show-grid(@max-size: @max-width) {
    background-image: url('@{grid-vert-bg}');
    background-size: 100% auto;
    background-repeat: repeat-y;

    @media only screen and (min-width: @max-width) {
        background-size: @max-width auto;
    }
}

.show-baseline-grid() {
    background-image: url('@{grid-horiz-bg}');
}
