/** 
* Anax Flat theme.
*/

@import url('modules.less');

@color-bg: #6f6860;
@color-dark: #4f4840;
@color-med-light: #afa8a0;
@color-med-dark: #8f8880;
@color-light: #f4f4f4;
@color-text: #2f2820;


// Grid visualization
.route-grid .wrap-all:hover {
    .inner-wrap-main,
    .inner-wrap-columns-below {
        .show-grid();
    }
}


/** --------------------------------------------------------------
 *  Base
 */
body {
    color: @color-text;
    background-color: @color-bg;
    font-size: 16px;
    overflow-y: scroll;
}

.wrap-all {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid @color-text;
    box-shadow: 0 0 2px rgba(0, 0, 0, .75);
    overflow: hidden;
}


/** --------------------------------------------------------------
 *  Global element styles
 */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: @color-bg;
    text-decoration: underline;
    
    &:hover {
        color: @color-med-dark;
    }
}

img {
    max-width: 100%;
}

abbr[title] {
    cursor: help;
}


/** --------------------------------------------------------------
 *  Global styles
 */
.border {
    border: 1px solid @color-text;
}

.notice {
    padding: .5em;
    background-color: @color-med-light;
    border: 1px solid @color-bg;
    
    a {
        color: @color-dark;
        
        &:hover {
            color: @color-bg;
        }
    }
}

.content-spacing() {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    
    @media only screen and (max-width: 639px) {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}


/** --------------------------------------------------------------
 *  Header
 */
.site-header {
    background-color: @color-dark;
    border-bottom: 1px solid @color-text;
    overflow: hidden;
    
    a, a:hover {
        color: @color-light;
        text-decoration: none;
    }
}
.site-logo-text {
    float: left;
    padding: 4px 16px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000;
}

.navbar2 {
    float: right;
    
    a:hover {
        text-decoration: none;
    }
}

.rm-desktop {
    li {
        float: left;
        font-weight: bold;
        display: block;
        
        a {
            color: @color-light;
            
            &:hover {
                color: @color-light;
                background-color: @color-bg;
                text-decoration: none;
            }
        }
    }
    li.selected, li.selected-parent {
        a, a:hover {
            color: @color-dark;
            background-color: @color-med-light;
            text-decoration: none;
        }
    }
}

.rm-max .rm-small .rm-button,
.rm-mobile {
    display: none;
}


/** --------------------------------------------------------------
 *  Flash
 */
.flash-wrap img {
    display: block;
}


/** --------------------------------------------------------------
 *  Breadcrumb
 */
.breadcrumb-wrap {
    padding: .5em 1em;
    color: @color-dark;
    background-color: @color-med-light;
    border-top: 1px solid @color-dark;
    border-bottom: 1px solid @color-med-dark;
}
.breadcrumb-list ul {
    margin: 0;
    padding: 0;
    font-size: .8em;
    list-style-type: none;
    
    li {
        display: inline-block;
        
        &::after {
            content: " ›";
        }
        &:last-child::after {
            display: none;
        }
        
        a {
            color: @color-dark;
            
            &:hover {
                color: @color-bg;
            }
        }
    }
}


/** --------------------------------------------------------------
 *  Sidebar
 */
.sidebar {
    .content-spacing();
}
.sidebar-left {
    padding-right: 0;
}
.sidebar-right {
    padding-left: 0;
}
div.toc ul {
    position: relative;
    padding: 0 0 0 1em;
    list-style-type: none;
}
div.toc li {
    margin-bottom: .75em;
    
    &.selected {
        font-weight: bold;
        
        &::before {
            content: "»";
            position: absolute;
            left: 0;
        }
    }
}


/** --------------------------------------------------------------
 *  Main
 */
.outer-wrap-main {
    background-color: @color-light;
    overflow: hidden;
}
.main {
    min-height: 20em;
    .content-spacing();
}
.main.has-sidebar-left {
    border-left: 1px solid @color-med-light;
}
.main.has-sidebar-right {
    border-right: 1px solid @color-med-light;
}

.article > p:last-child {
    margin-bottom: 0;
}

.next-previous {
    margin-top: 3em;
    overflow: hidden;
}


/** --------------------------------------------------------------
 *  After-Main
 */
.after-main {
    padding: 0 1em;
    background-color: @color-med-light;
    border-top: 1px solid @color-med-dark;
    overflow: auto;
    
    a {
        color: @color-dark;
        
        &:hover {
            color: @color-bg;
        }
    }
}

.byline > p:first-child {
    float: left;
    margin-top: 0;
}
.byline > p:last-child {
    margin-left: 76px;
    font-size: .8em;
}


/** --------------------------------------------------------------
 *  Columns-Below
 */
.inner-wrap-columns-below {
    background-color: @color-med-dark;
    border-top: 1px solid @color-bg;
    overflow: hidden;
}
.columns-below {
    a {
        color: @color-dark;
        
        &:hover {
            color: @color-bg;
        }
    }
}
.bottom-column {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 1em;
    border-left: 1px solid @color-bg;
    
    &:first-child {
        border-left: none;
    }
}


/** --------------------------------------------------------------
 *  Footer
 */
.outer-wrap-footer {
    margin-bottom: 0;
}
.footer {
    padding: 0 1em;
    color: @color-light;
    background-color: @color-dark;
    border-top: 1px solid @color-text;
    text-align: center;
    overflow: auto;
    
    a, a:hover {
        color: @color-med-light;
    }
}



/** --------------------------------------------------------------
 *  Responsive
 */
@media only screen and (max-width: 1100px) {
    body {
        background-color: @color-dark;
    }
    .wrap-all {
        margin: 0;
        border: none;
        box-shadow: none;
    }
}


@media only screen and (max-width: 767px) {
    .navbar2 {
        display: none;
    }
    .rm-max.rm-navbar,
    .rm-max .rm-small .rm-button.rm-clicked {
        top: 8px;
        right: 16px;
        color: @color-light;
    }
    .rm-max .rm-small .rm-button {
        font-size: 2em;
        display: inline-block;
    }
    .rm-max .rm-mobile {
        background-color: @color-text;
        border-left: 2px solid #000;
        display: block;
        box-shadow: none;
        
        &.rm-clicked {
            box-shadow: 0 0 3px 1px #000;
        }
        
        li {
            background-color: @color-dark;
            font-weight: bold;
            
            a {
                color: @color-light;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &.selected, &.selected-parent {
                background-color: @color-med-light;
                
                a {
                    color: @color-text;
                }        
            }
        }
    }
    
    .sidebar-left {
        padding-right: 2em;
    }
    div.toc {
        &::after {
            content: "";
            height: .5em;
            border-bottom: 1px solid @color-med-light;
            display: block;
        }
        
        ul {
            margin: 0;
            padding-left: 0;
        }
        li {
            margin-bottom: 1em;
            display: inline-block;
            
            &::after {
                content: "|";
                margin-left: .5em;
                margin-right: .5em;
                font-weight: normal;
            }
            &:last-child::after,
            &::before {
                display: none;
            }
        }
    }
    
    .main {
        &.has-sidebar-left {
            margin-top: 0;
            border-left: none;
        }
        &.has-sidebar-right {
            border-right: none;
        }
    }
}


@media only screen and (max-width: 639px) {
    body {
        font-size: 14px;
    }
    
    .site-logo-text {
        padding: 4px 14px;
        font-size: 30px;
    }
    
    .rm-max.rm-navbar,
    .rm-max .rm-small .rm-button.rm-clicked {
        top: 7px;
        right: 14px;
    }

    .sidebar-left {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .main {
        min-height: 15em;
    }

    .byline > p:last-child {
        margin-left: 74px;
    }
    
    .columns-below {
        padding-top: 1em;
    }
    .bottom-column {
        margin-top: 0;
        border-left: none;
    }
}
